@charset "UTF-8";

/* 共通部分
---------------------------------------*/
html {
    font-size: 100%;
}
body {
    /*font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体",ヒラギノ角ゴ pro W3",sans-serif;*/
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/*戻るボタン*/
.backb {
    margin-left: 60px;
    margin-top: 10px;
}

/* エラーの文字を真ん中 */
.error-container {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    color: #721c24; /* エラーメッセージのテキスト色 */
}

/* header
------------------------------*/
.page-header {
    height: 20%;
}

/*ロゴ*/
.logo {
    width: 210px;
    margin-top: 14px;
}

/*ヘッダーの文字の設定*/
.main-nav {
    display: flex;
    font-size: 1.25rem;
    /*text-transform: uppercase;  大文字にする*/
    text-transform: lowercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #0bd;
}
/*右にずらし余白を均等に割り振る*/
.page-header {
    display: flex;
    justify-content: space-between;
}
/*横幅*/
.wrapper {
    max-width: 3100px;/*1100px がいいかも*/
    margin: 0 auto;
    padding: 0 4%;
}
/*文字のグレーアウト*/
.grayout {
    color: #bfbfbf;
}


/*ボタン
---------------------------------------------------------*/
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #0090aa;
}
.s-button {
    font-size: 0.688rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 9px 16px;
}
.s-button:hover {
    background: #0090aa;
}

/*レスポンシブ
---------------------------------------------------------------*/
@media (max-width: 600px) {
    h1 {
        color: #0bd;
    }
}
/* 3-1
------------------------------------------*/
/*背景色*/
#reset_pass_uchk {
    background-color: #FCF9EF;
    height:100vh;
}

/*スクロールさせない*/
#reset_pass_uchk html,body{
    overflow: hidden
}

/*ボタンの位置*/
#reset_pass_uchk .s-button {
    display: block; /* ボタンをブロック要素に変更 */
    text-align: center; /* テキストを水平中央に配置 */
    margin: 0 auto; /* 左右のマージンを自動で中央に配置 */
    width: 100px; /* 必要に応じてボタンの幅を設定 */
    margin-top: 50px;
}

 /* 文字の水平方向の中央揃え */
#reset_pass_uchk h2 {
    text-align: center;
    margin-top: 50px;
}

#reset_pass_uchk h3 {
    color: #696969;
    text-align: center;
    margin-top: 50px;
}

/*入力画面の位置*/
#mail {
    width: 100%;
}

/*入力フィールド*/
#reset_pass_uchk .fild {
    width: 40%; /*入力フィールドの長さ */
    height: 28px; /*入力フィールドの高さ*/
    text-indent: 20px; /*グレー文字少し右*/
    margin: 0 auto; /*入力フィールドの位置を真ん中*/
    border: 1px solid #808080; /* 枠線を追加 */  
    border-radius: 8px; /* 丸い角 */
    border-width: 1.5px; /* 枠の太さ */
}

/* 3-2
-----------------------------------------------*/
/*背景色*/
#reset_pass {
    background-color: #FCF9EF;
    height:100vh;
}

/*スクロールさせない*/
#reset_pass html,body{
    overflow: hidden
}

/* 文字の水平方向の中央揃え */
#reset_pass h2 {
    text-align: center;
    margin-top: 50px;
}

/*入力フィールド*/
#reset_pass .fild {
    width: 40%; /*入力フィールドの長さ*/
    height: 28px; /*入力フィールドの高さ*/
    text-indent: 20px; /*グレー文字少し右*/
    margin: 0 auto; /*入力フィールドの位置を真ん中*/
    border: 1px solid #808080; /* 枠線を追加 */  
    border-radius: 8px; /* 丸い角 */
    border-width: 1.5px; /* 枠の太さ */
    margin-top: 40px;
}

/*ボタンの位置*/
#reset_pass .s-button {
    display: block; /* ボタンをブロック要素に変更 */
    text-align: center; /* テキストを水平中央に配置 */
    margin: 0 auto; /* 左右のマージンを自動で中央に配置 */
    width: 100px; /* 必要に応じてボタンの幅を設定 */
    margin-top: 50px;
 }

/* 3-3
----------------------------------------------*/
/*背景色*/
#reset_pass_chk {
    background-color: #FCF9EF;
    height:100vh;
}

/*スクロールさせない*/
#reset_pass_chk html,body{
    overflow: hidden
}

/* 文字の水平方向の中央揃え */
#reset_pass_chk h2 {
    text-align: center;
    margin-top: 50px;
}
 
/*パスワード : の位置*/
#reset_pass_chk p {
    text-align: center;
    margin-top: 40px;
}

/*ボタンの位置*/
#reset_pass_chk .s-button {
    display: block; /* ボタンをブロック要素に変更 */
    text-align: center; /* テキストを水平中央に配置 */
    margin: 0 auto; /* 左右のマージンを自動で中央に配置 */
    width: 100px; /* 必要に応じてボタンの幅を設定 */
    margin-top: 50px;
 }

 /*3-4
----------------------------------------------*/
/*背景色*/
#reset_pass_com {
    background-color: #FCF9EF;
    height:100vh;
}

/*スクロールさせない*/
#reset_pass_com html,body{
    overflow: hidden
}

/* 文字の水平方向の中央揃え */
#reset_pass_com h2 {
    text-align: center;
    margin-top: 50px;
}

/*ボタンの位置*/
#reset_pass_com .s-button {
    display: block; /* ボタンをブロック要素に変更 */
    text-align: center; /* テキストを水平中央に配置 */
    margin: 0 auto; /* 左右のマージンを自動で中央に配置 */
    width: 120px; /* 必要に応じてボタンの幅を設定 */
    margin-top: 70px;
}

/* 5-1
-----------------------------------------------*/

/* サイドバー */
aside {
    width: 22%;
}

.info-contents {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}
.post-date {
    background: #0bd;
    border-radius: 50%;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
}
.post-date span {
    font-size: 1rem;
    border-top: 1px rgba(255, 255, 255, .5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}
.post-title {
    font-family: "Yu Mincho", "YuMincho, serif";
    font-size: 2rem;
    font-weight: normal;
}
.post-title,
.post-cat {
    margin-left: 120px;
}

/*画像本文に余白足す*/
.article img {
    margin-bottom: 20px;
}
article p {
    margin-bottom: 1rem;
}

.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}
aside p {
    padding: 12px 10px;
}
.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}
.sub-menu li {
    border-bottom: 1px #ddd solid;
}
.sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}
.sub-menu a:hover {
    color: #0bd;
}

/*背景色*/
#user_info {
    background-color: #FCF9EF;
    height:100vh;
}

/*スクロールさせない*/
#user_info html,body{
    overflow: hidden
}

/*見出し*/
.page-title {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}

/* 5-2
-----------------------------------------*/
/*背景色*/
#user_chg {
    background-color: #FCF9EF;
    height:100vh;
}

/*スクロールさせない*/
#user_chg,body{
    overflow: hidden
}

/* 文字の水平方向の中央揃え */
#user_chg h2 {
  text-align: center;
  margin-top: 50px;
}

/*入力フィールド*/
#user_chg .fild {
    width: 40%; /*入力フィールドの長さ*/
    height: 28px; /*入力フィールドの高さ*/
    text-indent: 20px; /*グレー文字少し右*/
    margin: 0 auto; /*入力フィールドの位置を真ん中*/
    border: 1px solid #808080; /* 枠線を追加 */  
    border-radius: 4px; /* 丸い角 */
    margin-top: 8px;
}

/*ボタンの位置*/
#user_chg .s-button {
    display: block; /* ボタンをブロック要素に変更 */
    text-align: center; /* テキストを水平中央に配置 */
    margin: 0 auto; /* 左右のマージンを自動で中央に配置 */
    width: 100px; /* 必要に応じてボタンの幅を設定 */
    margin-top: 50px;
 }

/* 5-3
-----------------------------------------*/
/*背景色*/
#user_chk {
    background-color: #FCF9EF;
    height:100vh;
}

/*スクロールさせない*/
#user_chk html,body{
    overflow: hidden
}

#user_chk h2 {
    /* 文字の水平方向の中央揃え */
  text-align: center;
}

/*ボタンの位置*/
#user_chk .s-button {
    display: block; /* ボタンをブロック要素に変更 */
    text-align: center; /* テキストを水平中央に配置 */
    margin: 0 auto; /* 左右のマージンを自動で中央に配置 */
    width: 100px; /* 必要に応じてボタンの幅を設定 */
    margin-top: 50px;
 }

 /* 文字の間隔の調整 */
 #user_chk .big-bg .adjustment {
    margin-left: 420px;
    margin-bottom: 10px;
 }
 
/*5-4
-------------------------------------------*/
/*背景色*/
#user_com {
    background-color: #FCF9EF;
    height:100vh;
}

/*スクロールさせない*/
#user_com html,body{
    overflow: hidden
}
/*ボタンの位置*/
#user_com .s-button {
    display: block; /* ボタンをブロック要素に変更 */
    text-align: center; /* テキストを水平中央に配置 */
    margin: 0 auto; /* 左右のマージンを自動で中央に配置 */
    width: 100px; /* 必要に応じてボタンの幅を設定 */
    margin-top: 50px;
 }

 #user_com h2 {
    /* 文字の水平方向の中央揃え */
  text-align: center;
}

/*9-1
-------------------------------*/
/*背景色*/
#logout {
    background-color: #FCF9EF;
    height:100vh;
}

/*スクロールさせない*/
#logout html,body{
    overflow: hidden
}
/*ボタンの位置*/
#logout .s-button {
    display: block; /* ボタンをブロック要素に変更 */
    text-align: center; /* テキストを水平中央に配置 */
    margin: 0 auto; /* 左右のマージンを自動で中央に配置 */
    width: 100px; /* 必要に応じてボタンの幅を設定 */
    margin-top: 50px;
 }

 #logout h2 {
    /* 文字の水平方向の中央揃え */
  text-align: center;
}